@using Microsoft.AspNetCore.Identity
@using HermesChat_TeamA.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul >
@if (SignInManager.IsSignedIn(User))
{
    <li >
        <a id="manage" >Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li >
        <form id="logoutForm" >
            <button id="logout" type="submit" >Logout</button>
        </form>
    </li>
}
else
{
    <li >
        <a >Register</a>
    </li>
    <li >
        <a >Login</a>
    </li>
}
</ul>
