@page
@*@model HermesChat_TeamA.Views.Home.Index1Model*@
@{

}

<div class="participants-list-column">
    <div class="grouped-buttons">
        <button class="chat-button btn-primary">
            Private Chat
        </button>
        <button class="chat-button">
            Group Chat
        </button>
    </div>
    <div class="list-area">



        <ul class="participants-names">
            <li>first</li>
            <li>second</li>
            <li>third</li>
        </ul>

    </div>
</div>
