@model HermesChat_TeamA.Models.SidebarModel
@{

}

@using HermesChat_TeamA.Areas.Identity.Data.Models;
@using Microsoft.AspNetCore.Identity;


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div>

    @if (SignInManager.IsSignedIn(User))
    {
        <div id="participants-list-column">
            <div class="grouped-buttons">


                <div>
                    <input id="groupName" placeholder="Title of a Group Chat?" type="text" onfocus="this.value =' '" />
                </div>


                <div class="submit-button">
                    <input type="button" id="createGroupButton" value="Create Group Chat" />
                    <input type="button" id="joinGroupChatButton" value="Join Group Chat" />
                </div>

            </div>
            <div class="total">
                <div>Connected Users: </div>
                <div><span id="usersCount" /></div>
            </div>

            <div class="list-area" style="overflow-y: scroll;">


                <div class="participants-names">

                    <div class="online-users-list"><span id="usersOnlineConnectionId" /></div>

                    <ul style="list-style-type:none">
                        <li><span id="connectedUserId"></span></li>
                    </ul>

                </div>




                <div id="newGroupChat">
                    <div>Group Chats </div>
                    <div>
                        <ul id="listOfGroupChats"></ul>
                    </div>

                </div>

                @* chosen by clicking with a mouse *@
                <input hidden id="jsResultUserName" type="text" value="" />
                <input hidden id="jsResultGroupName" type="text" value="" />
                <div>
                </div>
            </div>


        </div>
    }

    else
    {

    }

</div>

<script>
    if (window.location.pathname.toLowerCase().includes("/profile")) {
        document.getElementById("participants-list-column").classList.add("hidden-sidebar");
    }
</script>