@{
    ViewData["Title"] = "Home Page";
}


<main class="chat-part">
    <div class="hermes-banner">
        <h1>Hermes</h1>
    </div>


    <div class="chat-window">
        @* <div class="first-user">User</div> *@
        @* <div class="second-user">Selling my soul to the devil every day for a few pennies...</div> *@

        
            <ul id="messagesList"></ul>
       
    </div>
    


    <div class="writing-area-for-messages">
        
        <div class="grape-inner-background">

            <div><input class="input" placeholder="Write your name..." type="text" id="userInput" /></div>
            @* <input class="input" placeholder="Write your reply..."></input> *@


          
            <div><input class="input" type="text" id="messageInput" placeholder="Write your reply..." /></div>
            <div class="submit-button">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>

  

   
</main>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>