@{
    ViewData["Title"] = "Home Page";
}

@using HermesChat_TeamA.Areas.Identity.Data.Models;
@using Microsoft.AspNetCore.Identity;


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
        <main class="chat-part">
            <div class="hermes-banner">
                <h1>Hermes</h1>
            </div>


            <div class="chat-window" style="height: 100%; overflow-y: scroll;">



                <ul id="messagesList"></ul>

            </div>



            <div class="writing-area-for-messages">

                <div class="grape-inner-background">

                    <div class="ids-fields">

                        <div class="connection-id">Connection Id: </div>
                        <div><span id="connectionId" /></div>

                        <div class="connection-id">Receiver Id: </div>
                        <div><input class="input" placeholder="Copy the connection ID..." type="text" id="receiverId" /></div>

                    </div>

                    @* not seen in the page view *@

                    <div><input class="name-input" placeholder="Write your name..." type="text" id="userInput" /></div>
                    @* <input class="input" placeholder="Write your reply..."></input> *@


                    <div class="messaging-area">

                        <div class="message-input"><input class="input" type="text" id="messageInput" placeholder="Write your reply..." onfocus="this.value =' '" /></div>



                        <div class="submit-button">
                            <input type="button" id="sendToParticularUser" value="Send Message Privately" />&nbsp; &nbsp;
                            <input type="button" id="SendMessageToGroup" value="Send Message to Group Chat" />&nbsp; &nbsp;
                            @* <input type="button" id="sendButton" value="Send Message To All" /> *@
                        </div>
                    </div>
                </div>
            </div>



        </main>
    }
    else
    {
      <h1>Welcome to HERMES chat! ;) </h1>
    }





<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/connectedUsers.js"></script>
