@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@using HermesChat_TeamA.Areas.Identity.Data.Models;
@using Microsoft.AspNetCore.Identity;


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="profile-main">
    <div class="avatar" style="background-image: url('/Images/jinx.png')" alt="User's Avatar"></div>

    
    <div class="info-box">
        <ul>
            <li>Name: @UserManager.GetUserName(User)!</li>
            <li><a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage your account</a></li>
            <li class="status">Status: Passionate about tech</li>
        </ul>
    </div>
    
</div>