@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@using HermesChat_TeamA.Areas.Identity.Data.Models;
@using Microsoft.AspNetCore.Identity;


@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<div class="profile-main">
   <div class="avatar">
   <img src="~/Images/jinx.png" id="profile-picture"/>
   <label for="input-file" class="update-button">Update image</label>
    <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file"/>
    </div>





    <div class="info-box">
        <ul>
            <li>Name: @UserManager.GetUserName(User)!</li>
            <li><a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage your account</a></li>
            <li class="status">Status: Passionate about tech</li>
        </ul>
    </div>

</div>
    <script>

    let profilePicture = document.getElementById("profile-picture");
    let inputFile = document.getElementById("input-file");

        inputFile.onchange = function () {
            profilePicture.src = URL.createObjectURL(inputFile.files[0])
        }
    </script>